body {
  width: 100%;
  overflow-x: hidden;
  background: #f4f4f4;
}

.blog {
  margin: 0px 10px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
  -webkit-box-shadow: -1px 4px 30px -10px rgba(0, 17, 17, 1);
  -moz-box-shadow: -1px 4px 30px -10px rgba(0, 17, 17, 1);
  box-shadow: -1px 4px 30px -10px rgba(0, 17, 17, 1);
  border-radius: 25px;
}

.blog .date {
  font-size: 15px;
}

.jum {
  height: 100vh;
}

.top {
  height: 100vh;
  margin-top: 12%;
}

@media only screen and (min-width: 992px) {
  .blog {
    width: 70%;
    margin: 0px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    -webkit-box-shadow: -1px 4px 30px -10px rgba(0, 17, 17, 1);
    -moz-box-shadow: -1px 4px 30px -10px rgba(0, 17, 17, 1);
    box-shadow: -1px 4px 30px -10px rgba(0, 17, 17, 1);
    border-radius: 25px;
  }

  .blog .date {
    text-align: right;
    font-size: 10px;
  }
}