body {
  width: 100%;
  overflow-x: hidden;
  background: #f4f4f4;
}

.blog {
  margin: 0px 10px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
  box-shadow: -5px 0px 15px -5px rgba(0, 51, 51, 1);
  border-radius: 25px;
}

.blog .date {
  font-size: 15px;
}

.jum {
  height: 100vh;
}

.top {
  height: 100vh;
  margin-top: 12%;
}

.nav-lin {
  color: #003333;
  margin: 10px;
  padding-top: 20px;
}

.navbar-fixed-top.scrolled .nav-lin {
  color: #fff;
  right: 0;
}

.post {
  width: 100%;
}

.navbar-fixed-top {
  background: rgba(255, 255, 255, 0.95);
}

.navbar-fixed-top.scrolled {
  background: rgba(0, 51, 51, 1);
  transition: 0.5s linear;
}

.navbar-fixed-top.scrolled .navbar-bran .img {
  display: none;
}

.navbar-fixed-top.scrolled .navbar-bran span {
  display: block;
}

.navbar-fixed-top.scrolled .navbar-bran {
  text-align: center;
  font-size: 22px;
  color: #fff;
  transition: 0.2s ease-in;
  padding: 0px;
  margin: 0px;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.85);
  transition: 0.3s;
}

.btn {
  background: transparent;
}

.side {
  display: none;
}

.navbar-bran span {
  display: none;
}

.navbar-bran {
  text-align: center;
  font-size: 22px;
  color: #003333;
  border-radius: 8px;
  padding: 8px;
}

.ii {
  margin: auto;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  .side {
    display: block;
  }

  .post {
    margin-left: 5px;
  }

  .blog {
    margin: 0px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    /*  -webkit-box-shadow: -1px 4px 30px -10px #003333;
    -moz-box-shadow: -1px 4px 30px -10px #003333;
    box-shadow: -1px 4px 30px -10px #003333;
    border-radius: 25px;*/
  }

  .blog .date {
    text-align: right;
    font-size: 10px;
  }
}