body {
  width: 100%;
  overflow-x: hidden;
  background: #f4f4f4;
}

.blog {
  margin: 0px 10px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
  -webkit-box-shadow: -1px 4px 30px -10px rgba(0, 17, 17, 1);
  -moz-box-shadow: -1px 4px 30px -10px rgba(0, 17, 17, 1);
  box-shadow: -1px 4px 30px -10px rgba(0, 17, 17, 1);
  border-radius: 25px;
}

.blog .date {
  font-size: 15px;
}

.jum {
  height: 100vh;
}

.top {
  height: 100vh;
  margin-top: 12%;
}

.nav-lin {
  color: #003333;
  margin: 10px;
}

.navbar-fixed-top.scrolled .nav-lin {
  color: #fff;
}

.post {
  width: 100%;
}

.navbar-fixed-top.scrolled {
  background-color: rgba(0, 51, 51, 0.95);
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .navbar-bran {
  text-align: center;
  font-size: 22px;
  color: #fff;
  background: rgba(255, 255, 255, 0.29);
  border-radius: 8px;
  box-shadow: inset -10px -8px 10px -5px #003333;
  padding: 8px;
}

.side {
  display: none;
}

.navbar-bran {
  text-align: center;
  font-size: 50px;
  color: #003333;
  border-radius: 8px;
  padding: 8px;
}

@media only screen and (min-width: 992px) {
  .side {
    display: block;
  }

  .post {
    margin-left: 8px;
  }

  .blog {
    background: rgba(0, 51, 51, 0.01);
    margin: 0px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    -webkit-box-shadow: -1px 4px 30px -10px #003333;
    -moz-box-shadow: -1px 4px 30px -10px #003333;
    box-shadow: -1px 4px 30px -10px #003333;
    border-radius: 25px;
  }

  .blog .date {
    text-align: right;
    font-size: 10px;
  }
}